.login {
  background: url(https://images.pexels.com/photos/6916494/pexels-photo-6916494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}